.TravelCard {
  &.MuiCard-root {
    $horizontalSpacing: 20px;
    box-shadow: $shadow7;
    display: flex;
    flex-direction: column;
    height: 100%;
    border-radius: 20px;
    @include transition;

    &:hover {
      box-shadow: $shadow5;
      transform: scale(1.025);
    }

    .ImageLink {
      img {
        width: 100%;
        height: 250px;
        object-fit: cover;

        @include media($lg) {
          height: 200px;
        }

        @include media($md) {
          height: 175px;
        }
      }
    }

    .MuiCardContent-root {
      padding: $horizontalSpacing $horizontalSpacing 15px;

      .Place {
        @include max-line(2);
      }

      .Description {
        margin-top: 12px;
        color: $greyRegent;
        @include max-line(2);
      }
    }

    .MuiCardActions-root {
      margin-top: auto;
      padding: 0 $horizontalSpacing $horizontalSpacing;

      .MuiButton-root {
        .MuiButton-endIcon {
          svg {
            width: 20px;
            height: 20px;
          }
        }
      }
    }
  }
}

.ProductCard {
  &.MuiCard-root {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100%;
    width: 100%;
    box-shadow: $shadow7;
    @include transition;

    &:hover {
      box-shadow: $shadow5;
      transform: scale(1.025);
    }

    @include media($sm) {
      max-width: 320px;
      margin: auto;
    }

    $horizontalSpacing: 16px;
    $verticalSpacing: 40px;

    .ImageWrapper {
      position: relative;

      .ImageLink {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-grow: 1;
        padding: $verticalSpacing $horizontalSpacing $verticalSpacing;
        height: 280px;

        @include media-min($sm) {
          height: 300px;
        }

        img {
          object-fit: contain;
          height: 100%;
          width: auto;
        }
      }

      .ProductStockStatus {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: $white;
        margin-right: 6px;
      }
    }

    .MuiCardContent-root {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      padding: $horizontalSpacing $horizontalSpacing 13px;

      .ProductName {
        @include max-line(2);

        .MuiTypography-root {
          @include media($sm) {
            font-size: pxToRem(14);
            line-height: pxToRem(24);
            font-weight: 600;
          }
        }
      }

      .ContentWrapper {
        flex-direction: column;
        flex-grow: 1;
        margin-top: 15px;
        gap: 4px;

        .Top {
          justify-content: space-between;
          align-items: center;
          margin-top: auto;

          .Left {
            align-items: center;
            gap: 8px;

            .DiscountedPrice {
              text-decoration: line-through;
              color: rgba($dark, 0.5);
            }
          }

          .Discount {
            color: $sinopia;

            @include media($sm) {
              font-size: pxToRem(13);
              line-height: pxToRem(24);
            }
          }
        }

        .Bottom {
          justify-content: space-between;
          align-items: center;

          .PriceMessage {
            color: rgba($dark, 0.5);

            @include media($sm) {
              font-size: pxToRem(12);
              line-height: pxToRem(28);
              font-weight: 500;
            }
          }

          .RightSide {
            align-items: center;
            gap: 4px;

            .DiscountMessage {
              color: $blueCyan;

              @include media($sm) {
                font-size: pxToRem(13);
                line-height: pxToRem(24);
                font-weight: 600;
              }
            }

            .InfoButton {
              width: auto;
              height: auto;
              padding: 0;

              .MuiSvgIcon-root {
                font-size: pxToRem(18);
              }
            }
          }
        }
      }

      .OfferBadge {
        position: absolute;
        top: 20px;
        right: 48px;
        padding: 3px 31px 3px 16px;
        color: $whiteMilk;
        font-size: 14px;
        font-weight: 500;
        border-radius: 6px;

        @include media($md) {
          top: 16px;
          right: 40px;
          padding: 2px 20px 2px 10px;
        }
      }
    }

    .MuiCardActions-root {
      padding: 0 $horizontalSpacing $horizontalSpacing;
      margin-top: auto;

      .ClickTooltipWrapper {
        align-self: stretch;

        .OfferTag {
          color: $dark;
          border-color: $mercury;
          height: 100%;
          min-width: 56px;
          margin-right: 15px;
          @include padding-horizontal(8, 10);

          &:hover {
            border-color: $yellowFuel;
          }
        }
      }

      .MuiIconButton-root {
        position: absolute;
        $placement: 12px;
        top: $placement;
        border-radius: 50%;

        &.Stack {
          left: $placement;
        }

        &.AddToCart {
          right: calc($placement + 4px);
        }
      }

      .TooltipOfferTag {
        .MuiTooltip-tooltip {
          box-shadow: $shadow6;

          .Offers {
            display: grid;
            grid-template-columns: auto auto;
            gap: 0 16px;
            padding: 15px;

            .ItemPrice {
              font-weight: 700;
              line-height: pxToRem(28);
            }
          }
        }
      }

      .TooltipStack {
        .MuiTooltip-tooltip {
          box-shadow: $shadow11;
          padding: 16px;
        }
      }

      .PrimaryAction {
        letter-spacing: 1px;
      }
    }
  }
}

// Start :: membershipcard css
// .MembershipCardLink{
// border-radius: 20px;
// @include transition;
// &:hover {
//   box-shadow: 14px 28px 43.29999923706055px 0px #0000001A;
//   .UpgradPlanButton{
//     background-color: $yellowFuel;
//     color: $white;
//   }
// }
.MembershipCard {
  &.MuiCard-root {
    text-align: center;
    border-radius: 20px;
    @include transition;

    &:hover {
      // transform: scale(1.025);
      // box-shadow: 14px 28px 43.29999923706055px 0px #0000001A;

      .UpgradPlanButton {
        background-color: $yellowFuel;
        color: $white;
      }
    }

    .MuiCardContent-root {
      padding: 0;

      h3 {
        line-height: 36px;
        @include padding-vertical(17);
        @include transition;

        @include media($md) {
          line-height: 30px;
          font-size: 24px;
        }
      }

      .Details {
        ul {
          list-style: none;
          padding: 13px 30px 14px;

          li {
            padding: 10px 0;
            justify-content: space-between;
            border-bottom: 1px solid #0000000a;

            // .ContentTitle {
            opacity: 80%;
            // }

            // .ContentValue {
            font-size: 16px;
            // }
          }
        }
      }

      // previously we are having this below detials css but now getting this from backend so need to chagne above css
      // .Details {
      //   padding: 13px 30px 14px;

      //   .ContentWrapper {
      //     padding: 10px 0;
      //     justify-content: space-between;
      //     border-bottom: 1px solid #0000000a;

      //     .ContentTitle {
      //       opacity: 80%;
      //     }

      //     .ContentValue {
      //       font-size: 16px;
      //     }
      //   }
      // }
    }

    .MuiCardActions-root {
      padding: 0 30px 30px;

      .UpgradPlanButton {
        padding: 12px 16px;
        border-color: $yellowFuel;
        line-height: 20px;
        letter-spacing: 2%;
        @include transition;

        &:hover {
          background-color: $yellowFuel;
          color: $white;
        }
      }
    }
  }

  &.ActiveCard {
    transform: scale(1.08);
    box-shadow: 6px 6px 12px #eed0a0;

    // box-shadow: 14px 28px 43.3px 0px #eed0a0;

    .UpgradPlanButton {
      background-color: $yellowFuel;
      color: $white;
    }
  }
}

// }
// End :: membershipcard css

.PostCard {
  width: 100%;

  .PostImage {
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
    max-height: 314px;
    height: 100%;

    @include media($lg) {
      max-height: 200px;
    }
  }

  .CardContentWrapper {
    .MuiCardContent-root {
      padding: 0;
      padding-top: 20px;

      .PostInfo {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .UserInfo {
          display: flex;
          gap: 8px;
          align-items: center;

          .UserImage {
            width: 36px;
            height: 36px;
            object-fit: cover;
            border-radius: 50%;
          }
        }
      }
    }

    .MuiCardActions-root {
      .MuiButtonBase-root {
        line-height: 20px;

        .MuiButton-endIcon {
          margin-left: 10px;

          svg {
            width: 20px;
            height: 20px;
          }
        }
      }
    }

    .MuiTypography-root {
      color: $dark;
      @include max-line(2);
    }
  }
}

.StatsCard {
  background: rgb(52 145 250 / 6%);
  border-radius: 15px;

  .MuiCardContent-root {
    padding: 16px;
  }

  .TopWrapper {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .BottomWrapper {
    margin-top: 23px;
    justify-content: space-between;
    align-items: center;

    .StatNumber {
      line-height: 36px;
    }

    .MuiIconButton-root {
      width: 36px;
      height: 36px;
      line-height: 36px;
      background-color: $yellowFuel;
      border-radius: 50%;
      color: $white;
    }
  }
}

.UserStatsCard {
  border-radius: 15px;
  box-shadow: $shadow10;
  border: 1px solid #3491fa14;

  .MuiCardContent-root {
    padding: 20px;
    position: relative;

    @include media($lg) {
      padding: 15px;
    }

    &:after {
      width: 214px;
      height: 214px;
      border-radius: 50%;
      position: absolute;
      content: "";
      // border: 50px solid;
      top: 0;
      left: 0;
      transform: translate(-45%, -45%);

      @include media($lg) {
        width: 150px;
        height: 150px;
      }
    }

    &::before {
      content: "";
      position: absolute;
      height: 203px;
      width: 203px;
      // background-color: #3491fa14;
      bottom: -40%;
      transform: translateY(40%);
      right: -10%;
      border-radius: 50%;

      @include media($lg) {
        width: 150px;
        height: 150px;
      }
    }
  }

  .TopWrapper {
    display: flex;
    justify-content: space-between;

    .Return {
      display: flex;
      align-items: center;
      gap: 14px;

      .MuiTypography-h4 {
        display: inline-block;
      }

      .MuiTypography-body1 {
        display: inline-block;
        color: $success;

        svg {
          margin-right: 4px;
        }
      }

      &.Loss {
        .MuiTypography-body1 {
          color: $error;

          svg {
            transform: rotate(180deg);
          }
        }
      }
    }

    .MuiButtonBase-root {
      padding: 0;
      width: 15px;
      height: 15px;
      color: $dark;
    }
  }

  .BottomWrapper {
    display: flex;
    justify-content: space-between;
    align-items: end;
    gap: 10px;
    margin-top: 35px;

    .Left {
      display: flex;
      align-items: center;
      gap: 10px;
    }
  }
}

.LineChartCard {
  border-radius: 15px;
  background-color: rgb(221 231 235 / 30%);

  .MuiCardContent-root {
    padding: 20px;
    position: relative;
  }

  .TopWrapper {
    display: flex;
    justify-content: space-between;

    .Right {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      justify-content: space-between;
      padding-bottom: 13px;

      .MuiButtonBase-root {
        padding: 0;
        width: 15px;
        height: 15px;
        color: $dark;
      }
    }
  }

  .BottomWrapper {
    background-color: $white;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 10px;
    margin-top: 5px;
    padding: 24px 15px 17px;
    border-radius: 11px;

    .Chart {
      svg {
        g {
          &:first-of-type {
            path {
              fill: aliceblue;
            }
          }
        }
      }
    }

    .RangeBar {
      display: flex;
      flex-direction: column;
      width: 100%;

      .Price {
        display: flex;
        justify-content: space-between;

        .MuiTypography-body1 {
          line-height: 11px;
        }
      }

      .HLCircuit {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 10px;

        .HLCircuitRange {
          background-color: rgb(52 145 250 / 20%);
          height: 3px;
          border-radius: 33px;
          flex: 1;
          margin: 0 5px;
          color: $blueCyan;
          position: relative;

          .MuiTypography-caption {
            line-height: 9px;
          }

          .UpArrow {
            position: absolute;
            height: 14px;
            bottom: 0;
            @include transition;

            svg {
              width: 14px;
              height: 14px;
            }
          }
        }
      }

      .MuiTypography-root {
        &.MuiTypography-body1 {
          font-weight: 600;
        }
      }
    }
  }
}

// Start :: shippingcard css
.ShippingCard {
  @include media($sm) {
    width: 100%;
  }
  .IconCaculatorsPage {
    svg {
      stroke: $yellowFuel;
    }
  }

  &.MuiCard-root {
    position: relative;
    padding: 20px;
    border: 1px solid rgba($yellowFuel, 0.08);
    border-radius: 15px;
    box-shadow: 6px 6px 27px 0px rgba($black, 0.05);

    .ShippingCardDetails {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 17px;

      .MuiStack-root {
        gap: 12px;
        align-items: center;

        .IconWrapper {
          height: 50px;
          width: 50px;
          object-fit: cover;
          border-radius: 10px;

          .GoldBarIcon {
            height: 100%;
            width: 100%;
            display: inline-block;

            svg {
              height: 50px;
              width: 50px;
            }
          }
        }
      }
    }

    .CrossIconWithOutlineCircle {
      position: absolute;
      top: 15px;
      right: 15px;
      padding: 0;
      height: 20px;
      width: 20px;

      svg {
        height: 20px;
        width: 20px;
      }
    }
  }
}

// End :: shippingcard css

.CartCard {
  &.MuiCard-root {
    display: flex;
    align-items: center;
    border-radius: 16px;
    border: 1px solid rgba($dark, 0.1);
    padding: 15px;
    gap: 20px;

    @include media($sm) {
      flex-wrap: wrap;
    }

    .MuiCardMedia-root {
      max-height: 140px;
      object-fit: contain;

      @include media-min($sm) {
        width: initial;
      }
    }

    .MuiCardContent-root {
      padding: 0;

      .TopWrapper {
        justify-content: space-between;
        gap: 16px;

        @include media($xxl) {
          flex-wrap: wrap;
        }

        .LeftWrapper {
          .Name {
            margin-bottom: 4px;
          }
        }

        .RightWrapper {
          display: grid;
          align-items: center;
          gap: 8px 40px;
          flex-shrink: 0;

          @include media($xs) {
            gap: 8px 16px;
          }

          .LivePrice {
            color: $success;
            font-weight: 600;
          }

          .Quantity {
            border: 1px solid $palladium;
            border-radius: 8px;
            overflow: hidden;

            .MuiIconButton-root {
              border-radius: initial;
              height: 32px;

              @include media($xs) {
                height: 28px;
                width: 28px;
              }

              &.Minus {
                border-right: 1px solid $palladium;
              }

              &.Plus {
                border-left: 1px solid $palladium;
              }
            }

            .MuiTextField-root {
              width: 40px;

              .MuiInputBase-root {
                height: 100%;

                .MuiInputBase-input {
                  padding: 0;
                  height: inherit;
                  text-align: center;
                }

                .MuiOutlinedInput-notchedOutline {
                  display: none;
                }
              }
            }
          }

          .DeleteButton {
            grid-row-start: 1;
            grid-row-end: 3;
            grid-column-start: 3;
            grid-column-end: 4;
          }
        }
      }

      .BottomWrapper {
        justify-content: space-between;
        align-items: flex-start;
        gap: 10px;
        flex-wrap: wrap;
        margin-top: 10px;

        .LeftSide {
          flex-direction: column;
          gap: 10px;
          flex-wrap: wrap;

          .DeliveryMethod {
            gap: 8px;

            .Label {
              color: rgba($dark, 0.6);
            }

            .DeliveryMethodSelect {
              font-weight: 700;
              line-height: pxToRem(28);

              .MuiSelect-select {
                padding-left: 0;
                @include padding-vertical(0);
              }

              .MuiOutlinedInput-notchedOutline {
                display: none;
              }
            }
          }
        }

        .RightSide {
          .ShippingMessage {
            background-color: rgba($error, 0.05);
            color: $redCoral;
            border-radius: 4px;
            padding: 3px 7px;
          }
        }
      }
    }
  }
}

.CartCardAbstract {
  &.MuiCard-root {
    padding: 15px;
    border-radius: 16px;
    border: 1px solid rgba($dark, 0.1);

    .MuiCardMedia-root {
      max-height: 80px;
      object-fit: contain;
      width: initial;
    }

    .MuiCardContent-root {
      display: flex;
      align-items: center;
      gap: 10px;
      padding: 0;

      @include media($xs) {
        flex-direction: column;
      }

      .Wrapper {
        align-items: center;
        gap: 16px;

        .About {
          .Name {
            margin-bottom: 8px;
          }
        }
      }
    }

    .MuiDivider-root {
      border-color: rgba($dark, 0.1);
      @include margin-vertical(10);
    }

    .DeliveryMethod {
      color: rgba($dark, 0.6);

      .MuiTypography-root {
        color: $dark;
      }
    }
  }
}