#FilterByDialog {
  &.MuiDialog-root {
    .MuiDialog-container {
      .MuiDialog-paper {
        .DialogHeader {
          justify-content: space-between;
          align-items: center;
          padding: 20px;
          border-bottom: 1px solid rgba($dark, 0.1);

          .CloseButton {
            color: rgba($elephant, 0.6);
            margin-right: -10px;
          }
        }

        .MuiDialogContent-root {
          .TabsWrapper {
            min-height: 100%;

            .MuiTabs-root {
              flex: 0.35;
              min-width: 150px;

              .MuiTabs-flexContainer {
                .MuiTab-root {
                  align-items: flex-start;
                  text-transform: initial;
                  border-bottom: 1px solid $mercury;
                  background-color: rgba($mercury, 0.2);

                  &.Mui-selected {
                    font-weight: 700;
                  }

                  &:not(.Mui-selected) {
                    color: rgba($dark, 0.8);
                  }
                }
              }

              .MuiTabs-indicator {
                left: 0px;
                width: 3px;
                height: 40px !important;
                border-radius: 0px 11px 11px 0px;
                @include margin-vertical(4);
              }
            }

            .TabPanel {
              padding: 10px 20px;

              &.Active {
                flex: 0.65;
              }

              &.Category {
                padding: 0;
              }
            }
          }

        }

        .MuiDialogActions-root {
          .ApplyFilter {
            flex: 1;
            font-weight: 600;
            padding: 13px;
            border-radius: 0px;
          }
        }
      }
    }
  }
}

#TermsServices {
  &.MuiDialog-root {
    .MuiDialog-container {
      .MuiDialog-paper {
        max-width: $mmd;
        .DialogHeader {
          justify-content: space-between;
          align-items: center;
          padding: 20px;
          color: $elephant;
          .CloseButton {
            margin-right: -10px;
          }
        }
        .MuiDialogContent-root {
          max-height: 313px;
          margin-right: 16px;
          @include padding-horizontal(20);
        }
        .MuiDialogActions-root {
          justify-content: flex-start;
          gap: 16px;
          padding: 25px 20px 20px;
          .MuiButton-root {
            min-width: 157px;
          }
        }
      }
    }
  }
}

#UpdateAddress {
  &.MuiDialog-root {
    .MuiDialog-container {
      .MuiDialog-paper {
        .DialogHeader {
          justify-content: space-between;
          align-items: center;
          padding: 20px;
          .CloseButton {
            margin-right: -10px;
          }
        }
        .MuiDialogContent-root {
          @include padding-horizontal(20);
          .AllFields {
            flex-direction: column;
            gap: 20px;
            .Column {
              gap: 20px;
              @include media($xs) {
                flex-wrap: wrap;
              }
            }
            .InputRow {
              width: 100%;
              .MuiInputBase-input {
                padding: 14px;
              }
            }
          }
        }
        .MuiDialogActions-root {
          padding: 20px;
          gap: 20px;
        }
      }
    }
  }
}