#FilterByDialog {
  &.MuiDialog-root {
    .MuiDialog-container {
      .MuiDialog-paper {
        .DialogHeader {
          justify-content: space-between;
          align-items: center;
          padding: 20px;
          border-bottom: 1px solid rgba($dark, 0.1);

          .CloseButton {
            color: rgba($elephant, 0.6);
            margin-right: -10px;
          }
        }

        .MuiDialogContent-root {
          .TabsWrapper {
            min-height: 100%;

            .MuiTabs-root {
              flex: 0.35;
              min-width: 150px;

              .MuiTabs-flexContainer {
                .MuiTab-root {
                  align-items: flex-start;
                  text-transform: initial;
                  border-bottom: 1px solid $mercury;
                  background-color: rgba($mercury, 0.2);

                  &.Mui-selected {
                    font-weight: 700;
                  }

                  &:not(.Mui-selected) {
                    color: rgba($dark, 0.8);
                  }
                }
              }

              .MuiTabs-indicator {
                left: 0px;
                width: 3px;
                height: 40px !important;
                border-radius: 0px 11px 11px 0px;
                @include margin-vertical(4);
              }
            }

            .TabPanel {
              padding: 10px 20px;

              &.Active {
                flex: 0.65;
              }

              &.Category {
                padding: 0;
              }
            }
          }

        }

        .MuiDialogActions-root {
          .ApplyFilter {
            flex: 1;
            font-weight: 600;
            padding: 13px;
            border-radius: 0px;
          }
        }
      }
    }
  }
}