#FilterByDialog {
  &.MuiDialog-root {
    .MuiDialog-container {
      .MuiDialog-paper {
        .DialogHeader {
          justify-content: space-between;
          align-items: center;
          padding: 12px 20px;
          border-bottom: 1px solid rgba($dark, 0.1);

          .ClearFilter {
            font-size: 16px;
          }

          .CloseButton {
            color: rgba($elephant, 0.6);
            margin-right: -10px;
            width: initial;
            height: initial;
            padding: 4px;

            .MuiSvgIcon-root {
              font-size: 16px;
            }
          }
        }

        .MuiDialogContent-root {
          .TabsWrapper {
            min-height: 100%;
            $maxheight: calc(100vh - 49px - 48px); // 82px - header, 48px - footer

            .MuiTabs-root {
              flex: 0.35;
              min-width: 150px;
              max-height: $maxheight;

              .MuiTabs-flexContainer {
                .MuiTab-root {
                  align-items: flex-start;
                  text-transform: initial;
                  border-bottom: 1px solid $mercury;
                  background-color: rgba($mercury, 0.2);
                  text-align: left;

                  &.Mui-selected {
                    font-weight: 700;
                  }

                  &:not(.Mui-selected) {
                    color: rgba($dark, 0.8);
                  }
                }
              }

              .MuiTabs-indicator {
                left: 0px;
                width: 3px;
                height: 40px !important;
                border-radius: 0px 11px 11px 0px;
                @include margin-vertical(4);
              }
            }

            .TabPanel {
              padding: 10px 20px;
              max-height: $maxheight;
              overflow: auto;

              &.Active {
                flex: 0.65;
              }

              &.Category {
                padding: 0;
              }

              .PriceRangeWrapper {
                .MuiSlider-root {
                  .MuiSlider-thumb {
                    &::after {
                      @include media($md) {
                        width: 20px;
                        height: 20px;
                      }
                    }

                    .MuiSlider-valueLabel {
                      @include media($md) {
                        display: none;
                      }
                    }
                  }
                }
              }
            }
          }

        }

        .MuiDialogActions-root {
          .ApplyFilter {
            flex: 1;
            font-weight: 600;
            padding: 13px;
            border-radius: 0px;
          }
        }
      }
    }
  }
}

#TermsServices {
  &.MuiDialog-root {
    .MuiDialog-container {
      .MuiDialog-paper {
        max-width: $mmd;

        .DialogHeader {
          justify-content: space-between;
          align-items: center;
          padding: 20px;
          color: $elephant;

          .CloseButton {
            margin-right: -10px;
          }
        }

        .MuiDialogContent-root {
          max-height: 313px;
          margin-right: 16px;
          @include padding-horizontal(20);

          @include media($xs) {
            padding-right: 10px;
          }

          .Content {
            overflow-wrap: break-word;
          }
        }

        .MuiDialogActions-root {
          justify-content: flex-start;
          gap: 16px;
          padding: 25px 20px 20px;
          flex-wrap: wrap;

          .MuiButton-root {
            min-width: 157px;

            @include media($sm) {
              flex-grow: 1;
            }
          }
        }
      }
    }
  }
}

#UpdateAddress {
  &.MuiDialog-root {
    .MuiDialog-container {
      .MuiDialog-paper {
        width: 100%;
        max-width: 800px;

        .DialogHeader {
          justify-content: space-between;
          align-items: center;
          padding: 20px;

          .CloseButton {
            margin-right: -10px;
          }
        }

        .MuiDialogContent-root {
          padding-top: 2px;
          @include padding-horizontal(20);

          .AllFields {
            flex-direction: column;
            gap: 20px;

            .Column {
              gap: 20px;

              @include media($sm) {
                flex-wrap: wrap;
              }
            }

            .InputRow {
              width: 100%;

              .MuiInputBase-input {
                padding: 14px;
              }

              .MuiMenu-root {
                .MuiMenu-paper {
                  max-height: 190px;
                }
              }
            }

            .ContactField {
              position: relative;
              width: 100%;

              .ContactSelect {
                position: absolute;
                width: 75px;
                z-index: 1;

                .MuiFormControl-root {
                  .MuiOutlinedInput-root {
                    .MuiOutlinedInput-notchedOutline {
                      border-radius: 0;
                      border: none;
                      border-right: 1px solid rgba($dark, 0.2);
                    }
                  }
                }

                // @Todo: this style is for contact field with new library
                // height: 100%;
                // .react-tel-input {
                //   .flag-dropdown {
                //     .country-list {
                //       @include media-min($sm) {
                //         width: calc(800px - 20px - 10px - 400px);
                //       }
                //     }
                //   }
                // }

                .MuiFormHelperText-root {
                  display: none;
                }
              }

              .ContactTextField {
                .MuiFormControl-root {
                  .MuiInputBase-root {
                    .MuiInputBase-input {
                      padding-left: 90px;
                    }
                  }
                }
              }
            }

            .MuiAutocomplete-root {
              .MuiTextField-root {
                .MuiAutocomplete-inputRoot {
                  padding: 0;

                  .MuiAutocomplete-input {
                    padding: 14px;
                  }

                  .MuiAutocomplete-endAdornment {
                    position: static;
                    transform: none;
                    .MuiAutocomplete-clearIndicator {
                      margin-right: initial;
                    }
                  }
                }
              }
            }
          }

          .ActionWrapper {
            justify-content: flex-end;
            gap: 20px;
            padding-bottom: 20px;

            .MuiButton-root {
              @include media($xs) {
                flex: 1;
              }
            }
          }
        }
      }
    }
  }
}

#SelectAddress {
  &.MuiDialog-root {
    .MuiDialog-container {
      .MuiDialog-paper {
        width: 100%;

        .DialogHeader {
          justify-content: space-between;
          align-items: center;
          padding: 20px 20px 0;
          z-index: 1301;

          .CloseButton {
            margin-right: -10px;
          }
        }

        .MuiDialogContent-root {
          padding: 20px;

          .MuiInputBase-root {
            display: flex;
            flex-direction: column;
            align-items: initial;
            padding: 2px;

            .MuiSelect-select {
              flex: 1;
              width: initial;
              border-radius: 0;
              white-space: normal;
              border-bottom: 1px solid rgba($dark, 0.2);

              .MuiTypography-root {
                display: block;
              }
            }
          }

          .MuiMenu-root {
            position: static;

            .MuiBackdrop-root {
              display: none;
            }

            .MuiMenu-paper {
              position: static;
              min-width: initial !important;
              max-width: none;
              box-shadow: none;

              .MuiList-root {
                max-height: 300px;
                overflow: auto;

                .MuiMenuItem-root {
                  flex-direction: column;
                  align-items: flex-start;
                  white-space: normal;
                }
              }
            }
          }
        }
      }
    }
  }
}

#EmailFriend {
  &.MuiDialog-root {
    .MuiDialog-container {
      .MuiDialog-paper {
        width: 100%;

        .DialogHeader {
          justify-content: space-between;
          align-items: center;
          padding: 20px 20px 0;

          .MuiDialogTitle-root {
            flex: 1;
          }

          .CloseButton {
            margin-right: -10px;
          }
        }

        .MuiDialogContent-root {
          padding: 20px;

          .AllFields {
            flex-direction: column;
            gap: 20px;
          }

          .ActionWrapper {
            gap: 16px;
            margin-top: 30px;
          }
        }
      }
    }
  }
}

#AlertDialog {
  &.MuiDialog-root {
    .MuiDialog-container {
      .MuiDialog-paper {
        padding: 20px;

        .MuiDialogContent-root {
          @include padding-vertical(15);
        }

        .MuiDialogActions-root {
          gap: 20px;

          .MuiButton-root {
            flex: 1;
          }
        }
      }
    }
  }
}

#OTPConfirmation {
  &.MuiDialog-root {
    .MuiDialog-container {
      .MuiDialog-paper {
        width: 100%;

        .DialogHeader {
          justify-content: space-between;
          align-items: center;
          padding: 20px 20px 0;

          .CloseButton {
            margin-right: -10px;
          }
        }

        .MuiDialogContent-root {
          padding: 30px 20px 20px;

          .MuiTextField-root {
            .MuiInputBase-root {
              font-size: pxToRem(20);

              .MuiInputBase-input {
                padding: 10px 20px;
              }
            }
          }
        }

        .ActionWrapper {
          gap: 20px;
          margin-top: 30px;

          .MuiButton-root {
            flex: 1;
          }
        }
      }
    }
  }
}

#AccountType {
  &.MuiDialog-root {
    .MuiDialog-container {
      .MuiDialog-paper {
        width: 100%;

        .DialogHeader {
          justify-content: space-between;
          align-items: center;
          padding: 20px 20px 0;

          .CloseButton {
            margin-right: -10px;
          }
        }

        .MuiDialogContent-root {
          padding: 30px 20px 20px;

          .DialogFooter {
            justify-content: center;
            gap: 20px;
            margin-top: 20px;
          }
        }
      }
    }
  }
}

#SessionExpiredDialog {
  &.MuiDialog-root {
    .MuiDialog-container {
      .MuiDialog-paper {
        padding: 60px 20px;

        @include media($md) {
          @include padding-vertical(50);
        }

        @include media($xxs) {
          @include padding-horizontal(10);
        }

        .DialogHeader {
          justify-content: space-between;
          align-items: center;

          .MuiDialogTitle-root {
            flex: 1;
          }

          .CloseButton {
            position: absolute;
            top: 10px;
            right: 10px;
          }
        }

        .MuiDialogContent-root {
          color: $paleGrey;
          text-align: center;

          .Content {
            flex-direction: column;
            gap: 10px;
          }
        }

        .MuiDialogActions-root {
          justify-content: center;
          margin-top: 20px;
        }
      }
    }
  }
}


#AddAccountDialog {
  &.MuiDialog-root {
    .MuiDialog-container {
      .MuiDialog-paper {
        width: 100%;

        .DialogHeader {
          justify-content: space-between;
          align-items: center;
          padding: 20px;

          .CloseButton {
            margin-right: -10px;
          }
        }

        .MuiDialogContent-root {
          padding: 1px 20px;

          .AccountType {
            color: rgba($dark, 0.7);
            padding-bottom: 5px;
            border-bottom: 1px solid rgba($dark, 0.5);
            @include margin-vertical(5, 20);

            .MuiTypography-inherit {
              font-weight: 700;
            }
          }

          .Column {
            gap: 20px;

            @include media($sm) {
              flex-wrap: wrap;
            }
          }

          .InputRow {
            width: 100%;

            .MuiInputBase-input {
              padding: 14px;
            }

            .MuiMenu-root {
              .MuiMenu-paper {
                max-height: 190px;
              }
            }
          }

          .ContactField {
            position: relative;
            width: 100%;
          }

          .MuiAutocomplete-root {
            width: 100%;

            .MuiTextField-root {
              .MuiAutocomplete-inputRoot {
                padding: 0;

                .MuiAutocomplete-input {
                  padding: 14px;
                }

                .MuiAutocomplete-endAdornment {
                  position: static;
                  transform: none;
                  .MuiAutocomplete-clearIndicator {
                    margin-right: initial;
                  }
                }
              }
            }
          }

          .FieldsWrapper {
            flex-direction: column;
            gap: 20px;

            .Fields {
              flex-direction: column;
              gap: inherit;

              &.JointFields {
                .Header {
                  justify-content: space-between;
                  align-items: center;
                  flex-wrap: wrap;
                  gap: 8px;
                }

                .FieldsWrapper {
                  flex-direction: column;
                  gap: 12px;

                  .Column {
                    @include media($sm) {
                      gap: inherit;
                    }
                  }
                }
              }
            }
          }

          .ActionWrapper {
            justify-content: center;
            gap: 20px;
            @include padding-vertical(24);

            .MuiButton-root {
              @include media($xs) {
                flex: 1;
              }
            }
          }
        }
      }
    }
  }
}

.PrivateHoldingCommonPopup {
  &.MuiDialog-root {
    .MuiDialog-container {
      .MuiDialog-paper {
        width: 100%;

        .DialogHeader {
          justify-content: space-between;
          align-items: center;
          padding: 20px 20px 0;

          .MuiDialogTitle-root {
            flex: 1;
          }

          .CloseButton {
            margin-right: -10px;
          }
        }

        .MuiDialogContent-root {
          padding: 20px;

          .AllFields {
            flex-direction: column;
            gap: 15px;
          }

          .InputRow {
            .MuiOutlinedInput-input {
              padding: 11px 15px;
            }
          }

          .ActionWrapper {
            gap: 16px;
            margin-top: 30px;
          }
        }
      }
    }
  }

  &#SellToUs {
    .MuiDialogContent-root {
      padding: 40px 20px;

      form {
        display: flex;
        gap: 30px;

        @include media($sm) {
          flex-direction: column;
          justify-content: center;
        }

        .Imagewrapper {
          // flex-direction: row;
          // gap: 50px;
          align-self: center;


          // @include media($md) {
          //   gap: 30px;
          // }

          // @include media($xs) {
          //   gap: 20px;
          //   flex-direction: column;
          // }


          img {
            max-width: 140px;
            object-fit: contain;
          }
        }

        .ActionWrapper {
          flex-direction: column;
          justify-content: space-between;
          flex-grow: 1;
          margin-top: 0;

          .QuantityInputs {
            display: flex;
            justify-content: space-between;
            gap: 20px;
            flex-wrap: wrap;

            .QuantityLabel {
              font-size: 25px;
              line-height: 30px;
              margin-bottom: 0;
            }
          }

          .ButtonsWrapper {
            gap: 20px;

            @include media($xs) {
              flex-direction: column;
            }

            .MuiButtonBase-root {
              flex-grow: 1;
            }
          }
        }
      }
    }

  }
}