input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

input[type=search] {
  &::-webkit-search-cancel-button {
    cursor: pointer;
  }
}

input {
  &[type=file] {
    cursor: pointer;
    &::-webkit-file-upload-button {
      cursor: pointer;
    }
  }
}

.primary-text-btn {
  @include btn;
  @include btn-text-color($yellowFuel, $dark);
  padding: 0;
}

.primary-outline-btn {
  @include btn;
  @include btn-outline-color($yellowFuel);
}

.primary-contained-btn {
  @include btn;
  @include btn-contained-color($yellowFuel, #c68924);
}

.secondary-text-btn {
  @include btn;
  @include btn-text-color($dark, $yellowFuel);
  padding: 0;
}

.secondary-outline-btn {
  @include btn;
  @include btn-outline-color($dark);
}

.secondary-contained-btn {
  @include btn;
  @include btn-contained-color($dark, $yellowFuel);
}