input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

input[type=search] {
  &::-webkit-search-cancel-button {
    -webkit-appearance: none;
    height: 18px;
    width: 18px;
    margin-left: .4em;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%231d2129'><path d='M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z'/></svg>");
    cursor: pointer;
  }
}


input {
  &[type=file] {
    cursor: pointer;

    &::-webkit-file-upload-button {
      cursor: pointer;
    }
  }
}

.primary-text-btn {
  @include btn;
  @include btn-text-color($yellowFuel, $dark);
  padding: 0;
}

.primary-outline-btn {
  @include btn;
  @include btn-outline-color($yellowFuel);
}

.primary-contained-btn {
  @include btn;
  @include btn-contained-color($yellowFuel, #c68924);
}

.secondary-text-btn {
  @include btn;
  @include btn-text-color($dark, $yellowFuel);
  padding: 0;
}

.secondary-outline-btn {
  @include btn;
  @include btn-outline-color($dark);
}

.secondary-contained-btn {
  @include btn;
  @include btn-contained-color($dark, $yellowFuel);
}