@import 'react-phone-input-2/lib/style.css';

div {
  &.react-tel-input {
    font: inherit;
    height: inherit;
    .form-control {
      font: inherit;
      height: initial;
      width: 100%;
      border-radius: 10px;
      border: none;
      outline-style: solid;
      outline-width: 1px;
      outline-color: rgba($dark, 0.2);
      @include padding-vertical(12);
      &:focus {
        box-shadow: none;
        outline-width: 2px;
        outline-color: $yellowFuel;
        &:hover {
          outline-color: rgba($dark, 0.2);
        }
      }
      &.error {
        outline-color: $error;
        &:hover {
          outline-color: rgba($dark, 0.2);
        }
      }
    }
    .flag-dropdown {
      top: 0;
      bottom: 0;
      left: 0;
      border: none;
      border-radius: 10px 0 0 10px;
      &.open {
        border-radius: 10px 0 0 10px;
      }
      .selected-flag {
        border-radius: inherit;
        &.open {
          border-radius: inherit;
        }
      }
      .country-list {
        width: 270px;
        max-width: calc($sm - 40px);
        @include media($sm) {
          width: calc(100vw - 64px - 20px - 30px);
        }
      }
    }
  }
}