.StockReturnWithName {
  &.MuiStack-root {
    flex-shrink: 0;
    align-items: center;
    gap: 10px;

    .FlipContainer {
      perspective: 1000px;
      position: relative;
      width: 40px;
      height: 20px;

      .Flipper {
        position: absolute;
        width: 100%;
        height: 100%;
        transform-style: preserve-3d;
        animation: flipAnimation 6s infinite;

        @keyframes flipAnimation {
          0% {
            transform: rotateX(0deg);
          }

          50% {
            transform: rotateX(180deg);
          }

          100% {
            transform: rotateX(360deg);
          }
        }

        .Value {
          position: absolute;
          width: 100%;
          height: 100%;
          backface-visibility: hidden;
          text-align: right;

          &.Back {
            transform: rotateX(180deg);
          }
        }
      }
    }


    .StockReturn {
      align-items: center;
      gap: 3px;
    }

    &.Boxes {
      .StockReturn {
        padding: 0 4px 1px 4px;
        border-radius: 2px;
      }

      &.Profit {
        .StockReturn {
          background-color: $success;
        }
      }

      &.Loss {
        .StockReturn {
          background-color: $error;
        }
      }
    }

    &.Text {
      &.Profit {
        .StockReturn {
          color: $success;
        }
      }

      &.Loss {
        .StockReturn {
          color: $error;
        }
      }
    }
  }
}

.SectionHeading {
  text-align: center;

  .Title {
    margin-bottom: 15px;

    @include media($sm) {
      font-size: pxToRem(26);
      line-height: pxToRem(35);
    }
  }

  .Description {
    color: $greyRegent;

    @include media($md) {
      font-size: pxToRem(14);
    }

    @include media($sm) {
      font-size: pxToRem(12);
      line-height: pxToRem(22);
      margin-top: 12px;
    }
  }
}

.PageTitle {
  @include padding-vertical(34);

  @include media($md) {
    @include padding-vertical(20);
  }

  h2 {
    line-height: 36px;

    @include media($sm) {
      font-size: pxToRem(22);
      line-height: pxToRem(30);
    }
  }

  .BackToDashboard {
    font-size: 14px;

    @include media($ssm) {
      font-size: 12px;
    }

    span {
      margin-right: 4px;

      @include media($ssm) {
        margin-right: 2px;
      }

      svg {
        width: 16px;

        @include media($ssm) {
          width: 14px;
        }
      }
    }
  }
}

.Breadcrumb {
  @include padding-vertical(30);

  @include media($sm) {
    @include padding-vertical(20);
  }

  .MuiBreadcrumbs-ol {
    .MuiBreadcrumbs-li {
      line-height: 20px;

      a {
        &.MuiTypography-root {
          font-weight: 400;
          line-height: 20px;
          display: inline-block;
        }
      }

      p {
        &.MuiTypography-root {
          font-weight: 600;
          line-height: 20px;
        }
      }
    }

    .MuiBreadcrumbs-separator {
      svg {
        path {
          stroke: $paleGrey;
        }
      }
    }
  }
}

.ProductStockStatus {
  justify-content: center;
  align-items: center;
  gap: 8px;

  .Message {
    @include media($sm) {
      font-size: pxToRem(12);
      line-height: pxToRem(24);
    }
  }

  &.Available {
    color: $success;
  }

  &.NotAvailable {
    color: $error;
  }
}

.LinkWithIcon {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;

  @include media($md) {
    flex-direction: initial;
  }

  .MuiIconButton-root {
    svg {
      width: 24px;
      height: 24px;
    }
  }

  &:hover {
    .MuiIconButton-root {
      background-color: rgba($black, 0.04);
    }
  }
}

.ProductUpdateCountdown {
  align-items: center;
  gap: 6px;
}

.PriceChangeReturn {

  align-items: center;
  gap: 4px;
  padding: 7px;
  color: $white;
  border-radius: 5px;

  &.Success {
    background-color: $success;
  }

  &.Error {
    background-color: $error;

    svg {
      rotate: 180deg;
    }
  }

  &.Nuetral {
    background-color: $yellowFuel;

    svg {
      // rotate: 180deg;
      display: none;
    }
  }
}

.RecordNotFound {
  text-align: center;
}