.StockReturnWithName {
  &.MuiStack-root {
    align-items: center;
    @include media-min($lg) {
      gap: 10px;
    }
    .StockReturn {
      align-items: center;
      gap: 3px;
    }
    &.Boxes {
      .StockReturn {
        padding: 0 4px 1px 4px;
        border-radius: 2px;
      }
      &.Profit {
        .StockReturn {
          background-color: $success;
        }
      }
      &.Loss {
        .StockReturn {
          background-color: $error;
        }
      }
    }
    &.Text {
      &.Profit {
        .StockReturn {
          color: $success;
        }
      }
      &.Loss {
        .StockReturn {
          color: $error;
        }
      }
    }
  }
}

.SectionHeading {
  text-align: center;
  .Title {
    margin-bottom: 15px;
    @include media($sm) {
      font-size: pxToRem(26);
      line-height: pxToRem(35);
    }
  }
  .Description {
    color: $greyRegent;
    @include media($md) {
      font-size: pxToRem(14);
    }
    @include media($sm) {
      font-size: pxToRem(12);
      line-height: pxToRem(22);
      margin-top: 12px;
    }
  }
}

.ProductStockStatus {
  justify-content: center;
  align-items: center;
  gap: 8px;
  .Message {
    @include media($sm) {
      font-size: pxToRem(12);
      line-height: pxToRem(24);
    }
  }
  &.Available {
    color: $success;
  }
  &.NotAvailable {
    color: $error;
  }
}

.LinkWithIcon {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  @include media($md) {
    flex-direction: initial;
  }
}

.ck-content {
  h2 {
    font-size: pxToRem(40);
    line-height: pxToRem(54);
    font-weight: 700;
    margin-bottom: 15px;
    @include media($xl) {
      font-size: pxToRem(26);
      line-height: pxToRem(34);
    }
    @include media($md) {
      font-size: pxToRem(24);
      line-height: pxToRem(32);
    }
    @include media($sm) {
      font-size: pxToRem(26);
      line-height: pxToRem(35);
    }
    span {
      font: inherit !important;
    }
  }
}