@import "variables";

:export {
  greyRegent: $greyRegent;
  copper: $copper;
  silverSand: $silverSand;
  goldTips: $goldTips;
  mercury: $mercury;
  dark: $dark;
  elephant: $elephant;
  white: $white;
  mercury30: $mercury30;
  palladium: $palladium;
  success: $success;
  silver: $silver;
}
