.BlogPage,
.BlogDetailPage {
  .HeroSection {
    margin-top: 50px;
    .PostWrapper {
      display: flex;
      margin-top: 50px;
      gap: 30px;
      @include media($lg) {
        flex-direction: column;
      }
      @include media($sm) {
        gap: 15px;
        margin-top: 30px;
      }
      .LeftPostWrapper {
        width: 50%;
        flex: 1;
        @include media($lg) {
          width: 100%;
        }
        .PostCard {
          .PostImage {
            max-height: 380px;
            object-fit: cover;
            @include media($lg) {
              max-height: 250px;
            }
          }
        }
      }
      .RightPostWrapper {
        display: flex;
        flex-direction: column;
        gap: 30px;
        width: 50%;
        flex: 1;
        @include media($lg) {
          width: 100%;
        }
        @include media($sm) {
          gap: 15px;
        }
        .PostCard {
          display: flex;
          gap: 20px;
          align-items: center;
          @include media($sm) {
            flex-direction: column;
            gap: 15px;
          }
          .PostImage {
            height: 296px;
            width: 296px;
            object-fit: cover;
            @include media($sm) {
              height: 100%;
              width: 100%;
            }
          }
          .CardContentWrapper {
            .MuiCardContent-root {
              padding-top: 0;
            }
          }
        }
      }
    }
  }
  .DiscoverPost {
    margin-top: 80px;
    &__title {
      text-align: center;
    }
    .SearchWrapper {
      margin-top: 60px;
      justify-content: center;
      display: flex;
      gap: 20px;
      .MuiFormControl-root {
        .MuiInputBase-root {
          .MuiInputBase-input {
            width: 534px;
          }
        }
      }
    }
    .PostFilter {
      margin-top: 40px;
      .TabPanel {
        padding-top: 60px;
        @include media($md) {
          padding-top: 30px;
        }
        .RecordNotFound {
          @include padding-vertical(20, 30);
        }
      }
    }
  }
}
