.HeroSection {
  margin-top: 50px;
  .PostWrapper {
    display: flex;
    margin-top: 50px;
    gap: 30px;
    @include media($lg) {
      flex-direction: column;
    }
    @include media($sm) {
      gap: 15px;
      margin-top: 30px;
    }
    .LeftPostWrapper {
      .PostCard {
        .PostImage {
          max-height: 380px;
          object-fit: cover;
        }
      }
    }
    .RightPostWrapper {
      display: flex;
      flex-direction: column;
      gap: 30px;
      @include media($sm) {
        gap: 15px;
      }
      .PostCard {
        display: flex;
        gap: 20px;
        align-items: center;
        @include media($sm) {
          flex-direction: column;
          gap: 15px;
        }
        .PostImage {
          height: 296px;
          width: 296px;
          object-fit: cover;
          @include media($sm) {
            height: 100%;
            width: 100%;
          }
        }
        .CardContentWrapper {
          .MuiCardContent-root {
            padding-top: 0;
          }
        }
      }
    }
  }
}

.DiscoverPost {
  margin-top: 80px;
  &__title {
    text-align: center;
  }
  .SearchWrapper {
    margin-top: 60px;
    justify-content: center;
    display: flex;
    gap: 20px;
    .MuiFormControl-root {
      .MuiInputBase-root {
        .MuiInputBase-input {
          width: 534px;
        }
      }
    }
  }
  .PostFilter {
    margin-top: 40px;
    .TabPanel {
      margin-top: 60px;
      @include media($md) {
        margin-top: 30px;
      }
    }
  }
}

.PostCard {
  .PostImage {
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
    max-height: 314px;
    height: 100%;
    @include media($lg) {
      max-height: 200px;
    }
  }
  .CardContentWrapper {
    .MuiCardContent-root {
      padding: 0;
      padding-top: 20px;
      .PostInfo {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .UserInfo {
          display: flex;
          gap: 8px;
          align-items: center;
          .UserImage {
            width: 36px;
            height: 36px;
            object-fit: cover;
            border-radius: 50%;
          }
        }
      }
    }
    .MuiCardActions-root {
      .MuiButtonBase-root {
        line-height: 20px;
        .MuiButton-endIcon {
          margin-left: 10px;
          svg {
            width: 20px;
            height: 20px;
          }
        }
      }
    }
    .MuiTypography-root {
      color: $dark;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2; /* limit to 2 lines */
    }
  }
}
