.AllCalculators {
    padding: 100px 0px;
    display: flex;
    justify-content: space-around;

    .CalculatorLink {
        .ShippingCard {
            &:hover {
                background-color: #ebc486;
            }
        }
    }

    @include media($md) {
        height: 100%;
        flex-direction: column;
        gap: 20px;
    }
}