.ErrorPage {
    .ErrorPageWrapper {
        text-align: center;
        padding: 60px 0;

        .ErrorTitle {
            font-size: 96px;
            line-height: 110px;
            margin-bottom: 20px;
            font-weight: 700;
        }

        .ErrorDescription {
            max-width: 80%;
            margin: 20px auto;
        }
    }
}