.RewardPointsHistoryPage {
    .RewardPointsHistoryContent {
        padding: 0 0 50px;

        @include media($sm) {
            padding: 0 0 40px;
        }

        .RewardPointsTableTitle {
            margin: 20px 0;
            font-size: 30px;
            font-weight: 500;
        }
    }
}