#Banner {
  .BannerTitle {
    display: none;
  }

  .SwiperContainer {
    .swiper {
      .swiper-wrapper {
        .swiper-slide {
          .Wrapper {
            display: grid;
            place-content: center;
            text-align: center;
            // height: 70vh;
            color: $white;
            position: relative;
            background-color: $greyRegent;

            // @include media($sm) {
            //   height: auto;
            // }
            .BannerImage {
              object-fit: contain;
              height: 100%;
              width: 100%;
            }

            .Content {
              z-index: 1;

              .Title {
                color: $yellowFuel;
                text-shadow: $textShadow1;
              }

              .Action {
                margin-top: 20px;

                .Primary {
                  font-weight: 600;

                  @include media-min($md) {
                    padding: 14px 30px;
                  }
                }
              }
            }
          }
        }
      }

      .swiper-pagination {
        @include media($md) {
          padding-bottom: 24px;
        }
      }
    }

    .SwiperNavigation {
      @include media($md) {
        display: none;
      }
    }
  }
}

#ProductsSlider {
  @include padding-vertical(70, 50);


  .ProductsSliderWrapper {
    @include media-min($md) {
      @include padding-horizontal(24);
    }

    @include media-min($xl) {
      @include padding-horizontal(40);
    }

    .SwiperContainer {
      .swiper {
        @include padding-vertical(40);
        @include margin-vertical(-40);

        @include media-min($md) {
          @include padding-horizontal(24);
          @include margin-horizontal(-24);
        }

        @include media-min($xl) {
          @include padding-horizontal(40);
          @include margin-horizontal(-40);
        }


        .ProductCardLink {
          text-decoration: none;

          .ProductCard {
            padding: 60px 30px;
            @include media($xxl) {
              @include padding-vertical(30);
            }
            .ProductImageWrapper {
              display: flex;
              justify-content: center;
              align-items: center;
              .ProductImage {
                object-fit: contain;
                height: 270px;
                @include media($xxl) {
                  height: 200px;
                }
              }
            }

            .ProductTitle {
              text-align: center;
              margin-top: 35px;
              @include media($md) {
                margin-top: 30px;
              }
              .MuiTypography-root {
                &.MuiTypography-h4 {
                  @include media($xxl) {
                    font-size: pxToRem(24);
                  }
                }
              }
            }
          }
        }


      }

      .swiper-pagination {
        position: static;
        @include padding-vertical(30, 0);

        @include media($md) {
          display: none;
        }
      }

      .SwiperNavigation {
        bottom: 50%;
        right: -23px;
        left: -23px;
        justify-content: space-between;

        @include media($md) {
          display: none;
        }

        .SwiperButton {
          color: $white;
          background-color: $yellowFuel;

          &:hover {
            color: $yellowFuel;
            background-color: $white;
          }
        }
      }
    }
  }
}

#FeaturedProducts {
  @include padding-vertical(70, 70);

  @include media($md) {
    @include padding-vertical(50);
  }

  .ProductsWrapper {
    margin-top: 50px;

    @include media-min($md) {
      @include padding-horizontal(24);
    }

    @include media-min($xl) {
      @include padding-horizontal(40);
    }

    @include media($md) {
      margin-top: 25px;
    }

    .SwiperContainer {
      .swiper {
        @include padding-vertical(40);
        @include margin-vertical(-40);

        @include media-min($md) {
          @include padding-horizontal(24);
          @include margin-horizontal(-24);
        }

        @include media-min($xl) {
          @include padding-horizontal(40);
          @include margin-horizontal(-40);
        }

        .swiper-wrapper {
          .swiper-slide {
            .ProductCard {
              .ImageWrapper {
                .ImageLink {
                  padding: 50px 15px 40px;
                }
              }
            }
          }
        }
      }

      .swiper-pagination {
        position: static;
        @include padding-vertical(50, 0);

        @include media($md) {
          display: none;
        }
      }
    }
  }
}

#LookingFor {
  border: 1px solid $white;
  background-color: rgba($yellowFuel, 0.05);

  @include media($md) {
    @include padding-vertical(40);
  }

  .Container {
    .OfferWrapper {
      gap: 30px;
      margin-top: 53px;
      @include padding-horizontal(80);

      @include media($lg) {
        gap: 20px;
        @include padding-horizontal(0);
      }

      @include media($sm) {
        flex-wrap: wrap;
        gap: 30px 15px;
      }

      .Offer {
        img {
          width: 100%;
        }

        &:not(.Main) {
          @include media($sm) {
            flex: 0.5;
          }
        }

        &.Main {
          @include media($sm) {
            order: -1;
            flex-grow: 1;
          }
        }
      }
    }
  }
}

#PopularProducts {
  @include padding-vertical(60, 50);

  @include media($md) {
    @include padding-vertical(50);
  }

  .ToggleWrapper {
    margin-top: 29px;


    @include media-min($sm) {
      justify-content: center;
    }

    @include media($sm) {
      .MuiToggleButtonGroup-root {
        width: 100%;

        .MuiToggleButton-root {
          @include transition;
          flex: 1;
          min-width: initial;
          padding: 12px;
          font-style: normal;
          font-weight: 600;
          letter-spacing: normal;
        }
      }
    }
  }

  .ProductsWrapper {
    .Wrapper {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 24px;
      margin-top: 50px;

      @include media-min($xxl) {
        gap: 40px;
      }

      @include media($xl) {
        grid-template-columns: repeat(3, 1fr);
        margin-top: 30px;
      }

      @include media($md) {
        grid-template-columns: repeat(2, 1fr);
        @include padding-horizontal(40);
      }

      @include media($ssm) {
        @include padding-horizontal(0);
      }

      @include media($sm) {
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
        margin-top: 25px;
      }
    }

    .Action {
      justify-content: center;
      margin-top: 50px;

      @include media($md) {
        margin-top: 32px;
      }

      .DiscoverMore {
        padding: 13px 31px;

        @include media($sm) {
          @include padding-vertical(10);
        }
      }
    }
  }
}

#DiscoverTreasure {
  border: 1px solid $white;
  background-color: rgba($yellowFuel, 0.05);
  overflow: hidden;
  .Container {
    .Wrapper {
      gap: 30px;

      @include media($lg) {
        flex-direction: column;
      }

      .Left {
        position: relative;
        padding-right: 100px;
        flex: 0.45;

        @include media-between($sm, $lg) {
          max-width: 500px;
          flex: initial;
        }

        @include media($sm) {
          max-width: initial;
        }

        .PrimaryImage {
          height: 100%;
        }

        .SecondaryImage {
          position: absolute;
          top: 6%;
          right: 0;
          max-width: 50%;
        }
      }

      .Right {
        flex: 0.55;

        .SectionHeading {
          text-align: left;
        }

        .Action {
          gap: 20px;
          margin-top: 30px;

          .Primary {
            padding: 13px 30px;
          }

          @include media($sm) {
            align-items: initial
          }
        }
      }
    }
  }
}

#CloserLook {
  clear: both;
  @include padding-vertical(60, 50);

  @include media($md) {
    padding: 50px 0;
  }

  .SectionHeading {
    @include media($md) {
      @include padding-horizontal(20);
    }
  }

  .DestinationWrapper {
    margin-top: 50px;
    @include padding-horizontal(0);

    @include media($md) {
      margin-top: 30px;
    }

    .SwiperContainer {
      .swiper {
        padding-top: 30px;
        margin-top: -30px;

        @include media-min($md) {
          @include padding-horizontal(24);
          @include margin-horizontal(-24);
        }
      }

      .swiper-pagination {
        position: static;

        @include media($md) {
          @include padding-vertical(26, 0);
        }
      }
    }

    .RecordNotFound {
      padding-bottom: 30px;
      text-align: center;
    }
  }

  .Action {
    justify-content: center;
    margin-top: 17px;

    @include media($md) {
      margin-top: 30px;
    }

    .MuiButton-root {
      padding: 13px 31px;

      @include media($sm) {
        @include padding-vertical(10);
      }
    }
  }
}