.OrderConfirmationPage {
    padding: 66px 0 70px;


    @include media($sm) {
        padding: 50px 0 50px;
    }

    .MuiTypography-root {
        color: $dark;
    }

    .OrderReceivedMessageWrapper {
        align-items: center;
        gap: 15px;
        margin-bottom: 40px;

        @include media($sm) {
            margin-bottom: 30px;
        }

        .GreenConfirmationIcon {
            height: 30px;
            width: 30px;
            object-fit: contain;

            svg {
                height: 100%;
                width: 100%;
            }
        }
    }

    .DetailsWrapper {
        .ThankyouWrapper {
            padding: 25px 20px;
            background-color: rgba($blueCyan, 0.1);
            border-radius: 15px 15px 0 0;



            .ThankyouText {
                font-size: 30px;
                line-height: 23px;
                font-weight: 500;
                margin-bottom: 22px;
                letter-spacing: -1px;

                @include media($ssm) {
                    font-size: 26px;
                    line-height: 34px;
                }

            }

            .OrderID {
                margin-bottom: 15px;
            }
        }

        .OrderDetailsWrapper {
            border: 1px solid rgba($blueCyan, 0.15);
            border-radius: 0 0 15px 15px;

            .TitleValueWrapper {
                padding: 20px;
                align-items: center;
                border-bottom: 1px solid rgba($blueCyan, 0.15);

                @include media($sm) {
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 5px;
                }

                .Title {
                    min-width: 37%;

                    @include media($md) {
                        min-width: 50%;
                    }
                }

                .OrderDetailTableWrapper {
                    margin-top: 20px;
                    border: 1px solid rgba(227, 228, 229, 1);
                    border-radius: 15px;
                    box-shadow: none;

                    .OrderDetailTable {

                        box-shadow: none;

                            .OrderDetailsHeadRow {
                                background-color: rgba($blueCyan, 0.1);
                            }
                            .ProductImage{
                                max-width: 140px;
                                max-height: 140px;
                                margin-right: 30px;
                            }
                    }
                }

                &.Orders {
                    .LogoWrapper {
                        gap: 15px;
                        align-items: center;
                    }
                }



                &.PaymentAmountWrapper {
                    background-color: rgba($blueCyan, 0.1);
                    border-radius: 0 0 15px 15px;
                    border-bottom: none;
                }
            }
        }

        .BottomContentWrapper {
            margin: 30px 0 40px;

            p {
                &:first-child {
                    margin-bottom: 15px;
                }
            }

            button {
                font-size: 16px;
                line-height: 26px;
                font-weight: 700;
                color: $dark;
            }
        }


    }

    .ContinueBtn {
        @include media-min($xxl) {
            min-width: 169px;
        }
    }
}