.OrderConfirmationPage {
    @include padding-vertical(30);


    @include media($sm) {
        @include padding-vertical(20);
    }

    .MuiTypography-root {
        color: $dark;
    }

    .OrderReceivedMessageWrapper {
        align-items: center;
        gap: 15px;
        margin-bottom: 30px;

        @include media($sm) {
            margin-bottom: 20px;
        }

        .GreenConfirmationIcon {
            svg {
                font-size: pxToRem(22);
            }
        }
    }

    .DetailsWrapper {
        padding: 16px;
        border-radius: 15px;
        border: 1px solid rgba($dark, 0.1);
        .ThankyouWrapper {
            padding: 15px 10px 10px;
            background-color: rgba($blueCyan, 0.1);
            background-color: $white;
            border-radius: 15px 15px 0 0;

            @include media($xs) {
                padding: 8px 0px 4px;
            }

            @include media($ssm) {
                font-size: 26px;
                line-height: 34px;
            }

            .ThankyouText {
                font-size: 30px;
                line-height: 23px;
                font-weight: 500;
                margin-bottom: 22px;
                letter-spacing: -1px;

                @include media($ssm) {
                    font-size: 26px;
                    line-height: 34px;
                }
                h3{
                    font-size: 24px;
                    line-height: 26px;
                    margin: 0;
                }
                h5{
                    // margin-bottom: 10px;
                }
                p{
                    font-size: 18px;
                    line-height: 22px;
                    margin: 0;
                }

            }

            .OrderID {
                margin-bottom: 15px;
            }
        }

        .OrderDetailsWrapper {
            border: 1px solid rgba($dark, 0.1);
            border-radius: 15px;

            .TitleValueWrapper {
                padding: 16px;
                align-items: center;
                border-bottom: 1px solid rgba($dark, 0.1);

                @include media($sm) {
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 5px;
                }

                .Title {
                    min-width: 37%;

                    @include media($md) {
                        min-width: 50%;
                    }
                }

                &.OrderNo {
                    .MuiButton-root {
                        font-size: pxToRem(16);
                        font-weight: 600;
                    }
                }

                .TableContainerWrapper {
                    border: 1px solid rgba($dark, 0.1);
                    border-radius: 15px;
                    overflow: hidden;
                }

                .OrderDetailTableWrapper {
                    margin-top: 20px;
                    box-shadow: none;

                    .OrderDetailTable {
                        box-shadow: none;

                        .MuiTableCell-root {
                            font-size: 16px;
                            line-height: 26px;
                        }

                        .MuiTableCell-head {
                            font-weight: 600;
                        }

                        .OrderDetailsHeadRow {
                            background-color: rgba($blueCyan, 0.1);
                            background-color: $white;
                        }

                        tbody {
                            th {
                                display: flex;
                                align-items: center;
                                gap: 20px;

                                .ProductImage {
                                    max-width: 140px;
                                    max-height: 140px;
                                    object-fit: contain;

                                    @include media($sm) {
                                        max-width: 100px;
                                        max-height: 100px;
                                    }
                                }
                            }

                        }


                    }
                }

                &.Orders {
                    .LogoWrapper {
                        gap: 15px;
                        align-items: center;
                    }
                }


                &.PaymentAmountWrapper {
                    background-color: $white;
                    border-radius: 0 0 15px 15px;
                    border-bottom: none;
                    .ProductList {
                        display: grid;
                        grid-template-columns: repeat(1, 1fr);
                        gap: 20px;
                        margin-top: 20px;
                        @include media-between($md, $lg) {
                          grid-template-columns: repeat(2, 1fr);
                        }
                      }
                      .PricingDetails {
                        width: 100%;
                        @include media($sm) {
                          margin-top: 30px;
                        }
                        .MuiDivider-root {
                          border-color: rgba($dark, 0.1);
                          @include margin-vertical(14);
                        }
                        .PricingItem {
                          justify-content: space-between;
                          align-items: center;
                          gap: 10px;
                        }
                        .TotalItem {
                          margin-top: 30px;
                          @include media($sm) {
                            margin-top: 20px;
                          }
                        }
                        .PaymentMethod {
                          align-items: center;
                          gap: 12px;
                          padding: 12px;
                          border-radius: 8px;
                          border: 1px solid rgba($dark, 0.1);
                          margin-top: 30px;
                          @include media($sm) {
                            margin-top: 20px;
                          }
                          .Message {
                            color: rgba($dark, 0.6);
                            .MuiTypography-root {
                              color: $dark;
                            }
                          }
                        }
                        .ActionDivider {
                          margin: 30px -25px 0px;
                          @include media($xs) {
                            margin: 15px -15px 0px;
                          }
                        }
                        .ActionWrapper {
                          justify-content: space-between;
                          margin-top: 25px;
                          .MuiButton-text {
                            text-decoration: none;
                          }
                          .MuiButton-contained {
                            @include padding-horizontal(24);
                          }
                        }
                      }
                }
            }
        }

        .BottomContentWrapper {
            margin-top: 30px;

            p {
                &:first-child {
                    margin-bottom: 15px;
                }
            }

            button {
                font-size: 16px;
                line-height: 26px;
                font-weight: 700;
                color: $dark;
            }
        }


    }

    .ContinueBtn {
        margin-top: 30px;
        @include media-min($xxl) {
            min-width: 169px;
        }
    }
}