.OrderDetailsPage {
    .OrderDetailsContent {
        position: relative;
        margin: 50px 0 50px;
        border: 1px solid rgba($dark, 0.2);
        border-radius: 15px;

        @include media($md) {
            margin: 30px 0 30px;
        }

        .Ribbon {
            font-size: 15px;
            padding: 3px 16px;
            font-weight: 600;
            color: $white;
            --f: .5em; /* control the folded part*/
            --r: .8em; /* control the ribbon shape */

            position: absolute;
            top: 20px;
            left: calc(-1*var(--f));
            line-height: 1.8;
            border-bottom: var(--f) solid #0005;
            border-right: var(--r) solid #0000;
            clip-path:
                polygon(calc(100% - var(--r)) 0, 0 0, 0 calc(100% - var(--f)), var(--f) 100%,
                    var(--f) calc(100% - var(--f)), calc(100% - var(--r)) calc(100% - var(--f)),
                    100% calc(50% - var(--f)/2));
            @include media($sm) {
                font-size: 14px;
            }
        }

        .Font16 {
            font-size: 15px;
        }

        .StatusImage {
            position: absolute;
            top: 20px;
            left: -10px;
        }


        .OrderDetailsWrapper {
            padding: 20px 30px 40px;
            // background-color: rgba($blueCyan, 0.15);
            border-radius: 14px 14px 0 0;
            border-bottom: 1px solid rgba($dark, 0.2);

            @include media($sm) {
                padding: 20px;
            }

            @include media($xs) {
                padding-top: 70px;
            }

            .PDFBtnWrapper {
                text-align: right;

                @include media($xs) {
                    text-align: left;
                    margin-bottom: 20px;
                }
                .MuiButton-root {
                    @include media($sm) {
                        padding: 10px 20px;
                    }
                }
            }

            .OrderID {
                margin: 7px 0 24px;
            }

            .OrderDetails {
                justify-content: flex-start;
                gap: 20px 40px;
                flex-wrap: wrap;

                @include media-min($xl) {
                    justify-content: space-between;
                }

                @include media-min($llg) {
                    gap: 40px 70px;
                }

                @include media($xs) {
                    gap: 30px 50px;
                }

                p {
                    margin-bottom: 3px;
                }

                .OrderStatusWrapper {
                    p {
                        margin-bottom: 11px;
                    }

                    .ButtonsWrapper {
                        @include media($xs) {
                            flex-direction: column;
                        }

                        .StatusButton {
                            font-size: 14px;
                            line-height: 20px;
                            font-weight: 600;
                            padding: 5px 15px;
                            border-radius: 31px;
                            // background-color: $error;
                        }
                    }


                }
            }
        }

        .AddressWrapper {
            display: flex;
            border-bottom: 1px solid rgba($dark, 0.2);

            @include media($ssm) {
                flex-direction: column;
                align-items: flex-start;
            }


            .BillingWrapper,
            .ShippingWrapper {
                padding: 34px 30px 20px 30px;
                width: 50%;

                @include media($sm) {
                    padding: 20px;  
                }

                @include media($ssm) {
                    width: 100%;
                }

                .AddressTitle {
                    margin-bottom: 25px;
                }

                .CommonBottomMargin {
                    margin-bottom: 10px;
                }
            }

            .ShippingWrapper {
                border-left: 1px solid rgba($dark, 0.2);

                @include media($ssm) {
                    border-left: none;
                    padding-top: 20px;
                }

                .AddressVerified {
                    color: $success;
                }
            }
        }

        .TableContainerWrapper {
            border: 1px solid rgba($dark, 0.1);
            border-radius: 15px;
            margin: 40px 30px 30px;
            overflow: hidden;

            @include media($sm) {
                margin: 20px;
            }
        }

        .OrderDetailTableWrapper {
            width: auto;

            .OrderDetailTable {
                thead {
                    // background-color: rgba($blueCyan, 0.15);
                    border-radius: 19px 19px 0 0;
                    .MuiTableCell-head {
                        white-space: nowrap;
                        &.Name {
                            min-width: 300px;
                        }
                    }
                }

                .MuiTableCell-root {
                    border: none;
                    font-size: 16px;
                    line-height: 26px;
                    font-weight: 500;
                }

                .css-uingyf-MuiTableRow-root {
                    border-top: 1px solid rgba($dark, 0.2);
                }

            }
        }


        .TotalShippingDetailsWrapper {
            padding: 30px;
            // background-color: rgba($blueCyan, 0.15);
            justify-content: space-between;
            align-items: center;
            border-top: 1px solid rgba($dark, 0.2);
            border-bottom: 1px solid rgba($dark, 0.2);

            @include media($sm) {
                flex-direction: column;
                align-items: flex-start;
                gap: 30px;
                padding: 20px;
            }


            .SubtotalShippingWrapper {
                align-items: center;
                gap: 50px;

                @include media($lg) {
                    gap: 30px;
                }

                @include media($md) {
                    flex-wrap: wrap;
                    gap: 10px 20px;
                }

                @include media($xs) {
                    flex-direction: column;
                    align-items: flex-start;
                }

            }


            .TotalWrapper {
                flex-shrink: 0;
                text-align: right;

                @include media($sm) {
                    text-align: left;
                }

                .TotalValue {
                    font-size: 30px;
                    line-height: 23px;
                    margin: 12px 0;

                    @include media($sm) {
                        font-size: 25px;
                    }
                }
            }


        }

        .KeyPoints {
            margin: 30px;
            word-wrap: break-word;
            @include media($sm) {
                margin: 20px;
            }
        }

        .CardsWrapper {
            margin: 0 30px 30px;
            display: flex;
            gap: 36px;
            align-items: stretch;
            justify-content: space-between;
            flex-wrap: wrap;
            @include media($sm) {
                gap: 20px;
                margin: 0 20px 20px;
            }
            .Card {
                padding: 20px;
                border: 1px solid rgba($dark, 0.2);
                border-radius: 15px;
                width: calc(33% - 36px);
                box-shadow: 6px 6px 27px 0px #0000000D;

                @include media($lg) {
                    width: calc(50% - 26px);
                }

                @include media($ssm) {
                    width: 100%;
                }


                .IconTitleWrapper {
                    align-items: center;
                    gap: 20px;
                    margin-bottom: 20px;

                    @include media($xs) {
                        flex-direction: column;
                        align-items: flex-start;
                    }

                    span {
                        height: 44px;
                        width: 44px;
                        border-radius: 50%;
                        border: 1px solid rgba($dark, 0.2);
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                }

                .lineHeight25 {
                    line-height: 25px;
                    display: block;
                }
            }
        }

    }
}