.VaultPage {
  padding-bottom: 50px;
  @include media($md) {
    padding-bottom: 30px;
  }
  .HeroSection {

    .HeroSectionWrapper {
      display: flex;
      flex-direction: row;
      gap: 30px;

      @include media($lg) {
        flex-direction: column;
        gap: 15px;
      }

      .Left {
        width: 50%;
        flex: 0 0 auto;
        flex: 1;

        @include media($lg) {
          width: 100%;
          order: 2;
        }

        .VaultStats {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          gap: 30px;
          margin-top: 45px;

          @include media($lg) {
            gap: 15px;
          }

          @include media($sm) {
            grid-template-columns: repeat(1, 1fr);
          }
        }
      }

      .Right {
        width: 50%;
        flex: 0 0 auto;
        flex: 1;

        @include media($lg) {
          width: 100%;
          order: 1;
        }

        #Banner {
          height: 100%;
          .SwiperContainer {
            height: inherit;
            .swiper {
              height: inherit;
              .swiper-wrapper {
                .swiper-slide {
                  .Wrapper {
                    border-radius: 15px;
                    background-color: transparent;
                    .Content {
                      position: relative;
                      .BannerImage {
                        visibility: visible !important;
                        border-radius: 15px;
                        max-height: 630px;
                      }
                      .BannerImageContent {
                        position: absolute;
                        inset: 0;
                        z-index: 1;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  .UserStats {
    .UserStatsWrapper {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 30px;
      margin-top: 45px;

      @include media($lg) {
        margin-top: 30px;
        gap: 15px;
      }

      @include media($mmd) {
        grid-template-columns: repeat(1, 1fr);
      }
    }
  }

  .UserInfo {
    margin-top: 50px;

    .UserInfoWrapper {
      display: flex;
      align-items: center;
      gap: 30px;

      @include media($lg) {
        flex-direction: column;
      }

      .Left {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
        width: 46%;
        flex: 0 0 auto;
        flex: 1;

        @include media($lg) {
          width: 100%;
          order: 2;
          gap: 15px;
        }

        @include media($sm) {
          grid-template-columns: repeat(1, 1fr);
        }
      }

      .Right {
        width: 54%;
        flex: 0 0 auto;
        flex: 1;

        @include media($lg) {
          width: 100%;
          order: 1;
        }

        #Banner {
          .SwiperContainer {
            .swiper {
              .swiper-wrapper {
                .swiper-slide {
                  .Wrapper {
                    border-radius: 15px;
                    place-content: initial;
                    .Content {
                      position: relative;
                      .BannerImage {
                        visibility: visible !important;
                        border-radius: 15px;
                        max-height: 294px;
                        object-fit: cover;
                      }
                      .BannerImageContent {
                        position: absolute;
                        inset: 0;
                        z-index: 1;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  .RecentOrders {
    margin-top: 50px;

    .RecentOrdersWrapper {
      .RecentOrdersTitleWrapper {
        justify-content: space-between;

        .MuiTypography-h4 {
          font-size: 30px;
          line-height: 23px;
          font-weight: 500;

          @include media($xs) {
            font-size: 22px;
          }
        }

        .MuiButton-root {
          font-size: 16px;
          line-height: 22px;
          font-weight: 600;
          color: $dark;
        }
      }
      .RecordNotFound {
        padding-top: 30px;
      }
    }
  }

  .RewardSection {
    .MuiContainer-root {
      padding-bottom: 24px;
      border-bottom: 1px solid $mercury;
    }

    .RewardWrapper {
      gap: 16px;
      align-items: center;

      @include media($xs) {
        flex-direction: column;
        align-items: flex-start;
      }

      .rewardText {
        font-size: 30px;
        line-height: 23px;
        display: inline-block;

        @include media($xs) {
          font-size: 25px;
        }
      }

      .rewardPoints {
        line-height: 36px;
        font-weight: 700;
        display: inline-block;

        @include media($xs) {
          font-size: 30px;
        }
      }
    }
  }

  .AccountInformation {
    margin-bottom: 60px;
    @include media($md) {
      margin-bottom: 40px;
    }
    .AccountInformationText {
      font-size: 30px;
      line-height: 23px;

      @include media($xs) {
        font-size: 25px;
      }
    }

    .MuiBox-root {
      display: flex;
      gap: 30px;

      @include media($sm) {
        gap: 15px;
        flex-direction: column;
      }
    }

    .AccountInformationCard {
      box-shadow: $shadow10;
      border: 1px solid #e1e6ef14;
      padding: 10px 20px;
      max-width: 436px;
      width: 100%;
    }
  }
}